# Local wheel files
./wheelhouse/llama_cpp_python-0.3.16-cp312-cp312-linux_aarch64.whl

# Other standard dependencies from PyPI
numpy<2.0
Pillow
PyQt5>=5.15
psutil>=5.9
pyserial>=3.5
ml_dtypes
packaging
hf_xet

# Voice input
sounddevice>=0.4
silero-vad-notorch
