# Local wheel files
./wheelhouse/llama_cpp_python-0.3.16-cp312-cp312-linux_aarch64.whl

# Other standard dependencies from PyPI
numpy<2.0
Pillow
PyQt6>=6.0
gpiod>=2.0
psutil>=5.9
pyserial>=3.5
ml_dtypes
packaging
hf_xet
huggingface_hub

# Voice input
sounddevice>=0.4
silero-vad-notorch
